.diary-detail {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 12px;
    background-image: url(https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxNzA1MDNfNzQg%2FMDAxNDkzODIwMjE2ODcw.xMn4Bpwpw-_AC39CIEImaJKLmt9ED8zqSpYwCa_OPdwg.mkxZnTW8PH6fUMvhPkh146uSZzpwj-iEmZiy_qtZduAg.JPEG.studygir%2Fjjacoerp_%252851%2529.jpg&type=sc960_832);
}

.detail-inner {
    min-height: calc(100vh - 24px);
    background-color: #fff;
}

.diary-detail .titlecss {
    padding: 24px;
    border-bottom: 8px solid #f5f5f5;
}

.diary-detail .diary-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.diary-detail .diary-info .info {
    line-height: 1.6;
}

.diary-detail .diary-info button {
    padding: 4px 8px;
    font-size: 14px;
    border: 0;
}

.diary-detail .diary-photo {
    padding: 0 24px;
}

.diary-detail .diary-photo img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.diary-detail .diarymemo {
    padding: 24px;
    border-bottom: 8px solid #f5f5f5;
    font-size: 15px;
}

.diary-detail .comment-title {
    padding: 24px 24px 12px 24px;
}

.edit-textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    resize: vertical;
    font-size: 16px;
}

.diary-detail .coment input {
    font-size: 16px;
    padding: 5px;
}

/* 버튼 스타일 */
button {
    font-size: 16px;
    padding: 8px 12px;
}

/* 댓글 스타일 */
.diary-detail .comment-list li {
    padding: 12px 24px;
    font-size: 15px;
    color: #333;
}

.diary-detail .coment {
    display: flex;
    padding: 12px 24px 24px 24px;
}

.diary-detail .coment input {
    flex: 1;
}